:root {
  --font-s: 0.75rem;
  --font-m: 1rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --white: #fff;
  --lightyellow: #f9e168;
  --orange: #eb5b25;
  --orange2: #bc491e;
  --blue: #4288c2;
  --blue2: #202b3e;
  --blue3: #1e3c73;
  --blue4: #18305c;
  --blue5: #3041b6;
  --skyblue: #5fd0df;
  --darkblue: #202b3e;
  --gray: #878787;
  --gray2: #4d4d4d;
  --red: #b32732;
  --red2: #ff7b7b;
  --green: #1a5565;
  --darkyellow: #8f7d38;
  --brown: #854431;
  --pink: #e82077;
  --border-ligthblue: #a1c5e8;
  --border-gray: #878786;
}
